* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Roboto", sans-serif;
  height: 500px;
}
/* comments-section starts here */
.comments-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 500px;
  margin: 70px auto;
}
.comments-section h2 {
  font-size: 20px;
  margin-bottom: 15px;
  width: 100%;
}
.comments-section input {
  width: 100%;
  height: 50px;
  padding: 0px 20px;
  margin-bottom: 15px;
  border-radius: 5px;
  border: 1px solid #86b0b6;
}
.comments-section input:focus {
  border: 1px solid #000;
}
.comments-section textarea {
  width: 100%;
  height: 150px;
  padding: 15px 20px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 1px solid #86b0b6;
}
.comments-section textarea:focus {
  border: 1px solid #000;
  outline: 0;
}
.comments-section button {
  border: 0;
  padding: 10px 30px;
  background: #86b0b6;
  font-size: 18px;
  border-radius: 5px;
  color: #fff;
}
.comments-section button:hover {
  transition: all 0.5s ease-in-out;
  background-color: #718a8e;
}
/* comments-section ends here */

/* Footer starts here */
.footer-content {
  text-align: center;
}
.social-menu {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  margin-top: 20px;
}
.social-menu ul {
  display: flex;
  justify-content: space-around;
  list-style: none;
  margin-top: 28px;
  width: 500px;
}
.social-menu ul li .fa {
  color: #000000;
  font-size: 25px;
  line-height: 50px;
  transition: 0.5s;
}
.social-menu ul li .fa:hover {
  color: #ffffff;
}
.social-menu ul li a {
  display: block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: white;
  text-align: center;
  transition: 0.5s;
  transform: translate(0, 0px);
  box-shadow: 0px 7px 5px rgba(0, 0, 0, 0.5);
}
.social-menu ul li a:hover {
  transform: rotate(0deg) skew(0deg) translate(0, -10px);
}
.social-menu ul li:nth-child(1) a:hover {
  background-color: #3b5999;
}
.social-menu ul li:nth-child(2) a:hover {
  background-color: #55acee;
}
.social-menu ul li:nth-child(3) a:hover {
  background-color: #e4405f;
}
.social-menu ul li:nth-child(4) a:hover {
  background-color: #cd201f;
}
.social-menu ul li:nth-child(5) a:hover {
  background-color: #0077b5;
}
/*Footer starts here */
@media (max-width: 600px) {
  .social-menu ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
  }
}
.container {
  width: 80%;
  margin: auto;
}
