/* Gernral Properties */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: "Roboto", sans-serif;
}
.container {
    width: 80%;
    margin: auto;
}
a {
    color: #000;
    text-decoration: none;
}
/* start section showcase */
.showcase-fluid {
    background-image: url('../images/home/background-showcase.jpg');
    background-size: cover;
    background-position:center;
    background-repeat: no-repeat;
}
.showcase {
    height: 80vh;
    color: #FFF;
    padding-top: 15%;
}
.showcase button{
    background: #000;
    color: #FFF;
    padding: 5px 10px;
    border-radius: 5px;
    border: none;
    outline: none;
    text-transform: uppercase;
}
.showcase-content {
    font-size: 2rem;
    width: 50%;
    padding-top : 10px;
    line-height: 1.6;
}
/* End section showcase */

/* start section seprator */
.seprator {
    width: 100%;
    border-top: 6px solid;
    margin: 10% 0 3% 0;
}
/* End section seprator */

/* start section News */
.news {
    margin-bottom: 20px;
}
.news-box {
    display: flex;
}
.news-title {
    text-align: center;
    margin-bottom: 5%;
}
.news-title p {
    margin-top: 10px;
    color: #909090
}
.news-box .news-link-box-large  , .news-box .new-box-group{
    width: 50%;
}
.news-box .new-box-large:hover , .news-box .new-box-group .new-box-small:hover{
    transform-origin:center;
    animation: swinging 1s ease-in-out 
}
@keyframes swinging
{
    0%{
        transform:rotateX(-15deg)
    }
    20%{
        transform:rotateX(15deg)
    }
    40%{
        transform:rotateX(-10deg)
    }
    60%{
        transform:rotateX(15deg)
    }
    80%{
        transform:rotateX(-15deg)
    }
    100%{
        transform:rotateX(0deg)
    }
    
}
.new-box-large {
    width: 100%;
    height: 86%;
    padding-bottom: 1%;
}
.new-box-large img{
    width: 100%;
    height: 100%;
}
.new-post {
    display: flex;
    color: #909090;
}
.new-box h2 , .new-post {
    margin-top: 1%;
}
.new-post .new-time {
    margin-left: 15px;
}
.news-box .new-box-group {
    display: flex;
    flex-wrap: wrap;
}
.new-box-group a {
    width: 46%;
    margin-left: 4%;
}
.new-box-group .new-box-small{
    height: 70%;
    width: 100%;
}
.new-box-group .new-box-small img{
    height: 100%;
    width: 100%;
}
.new-box-group .new-box-small h2{
    font-size: 0.9rem;
}
.new-box-group .new-box-small .new-post{
    font-size: 0.7rem;
}
/* End section News */

/* start media query */
@media (max-width:599px){  /* Phones */
    .showcase-content {
        font-size: 1.6rem;
        width: 100%;
    }
    .news-box , .new-box-group {
        flex-direction: column;
    }
    .news-box .news-link-box-large, .news-box .new-box-group {
        width: 100%;
    }
    .new-box-group a {
        width: 100%;
        margin-left: 0;
        margin-top: 20px;
    }
    .new-box-group .new-box-small h2 {
        font-size: 1.2rem;
    }
}
@media (min-width:600px) and (max-width:900px){     /* Tablets(Portrait Mode) */
    .showcase-content {
        width: 100%;
    }
    .new-box-group .new-box-small h2{
        font-size: 0.7rem;
    }
    .new-box-group .new-box-small .new-post{
        font-size: 0.55rem;
    }
}
/* End media query */