/* Gernral Properties */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: "Roboto", sans-serif;
}
.container {
    width: 80%;
    margin: auto;
}
a {
    color: #000;
    text-decoration: none;
}
/* start section showcase */
.showcase-fluid {
    background-image: url('../images/home/background-showcase.jpg');
    background-size: cover;
    background-position:center;
    background-repeat: no-repeat;
}
.showcase {
    height: 80vh;
    color: #FFF;
}
.showcase-content {
    padding-top: 15%;
    font-size: 2rem;
    width: 50%;
}
/* End section showcase */

/* start section seprator */
.seprator {
    width: 100%;
    border-top: 6px solid;
    margin: 10% 0 3% 0;
}
/* End section seprator */